{% load staticfiles %}
<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>{% block TITLE %}Intellisys Challenge{% endblock %}</title>
    <link rel="shortcut icon" href="{% static 'home/images/Cerebro.png' %}">
    <meta name="keywords" content="HTML5,CSS3,Js,Django,Developer,Challenge,Code,HelloWord"/>
    <meta name="description" content=""/>
    <meta name="Author" content="Intellisys DCorp. [www.intellisysdcorp.com]"/>
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0"/>
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700"
          rel="stylesheet" type="text/css"/>
    <link href="{% static 'home/library/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'home/css/essentials.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'home/css/layout.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'home/css/header-1.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'home/css/green.css' %}" rel="stylesheet" type="text/css" id="color_scheme"/>
    <link href="{% static 'home/css/custom.css' %}" rel="stylesheet" type="text/css" />

    {% block customCSS %}{% endblock %}
</head>
<body class="smoothscroll enable-animation body-tag">
    {% block mainContent %}{% endblock %}

<script type="text/javascript">var plugin_path = '/static/home/library/';</script>
<script type="text/javascript" src="{% static 'home/library/jquery/jquery-2.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'home/js/scripts.js' %}"></script>

{% block customJS %}{% endblock %}

</body>
</html>
