{% load staticfiles %}
<footer id="footer" class="col-sm-12 footer-wrapper">
	<div class="footer-container">
		<div class="row" style="">
				<div class="social-container hidden-sm hidden-xs">
					<a href="https://www.facebook.com/IntelliSys-Challenge-1748221232076129" class="social-icon social-icon-sm social-icon-transparent social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
						<i class="icon-facebook"></i>
						<i class="icon-facebook"></i>
					</a>

					<a href="https://twitter.com/IntelliSysChl" class="social-icon social-icon-sm social-icon-transparent social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
						<i class="icon-twitter"></i>
						<i class="icon-twitter"></i>
					</a>
                    <a href="https://www.instagram.com/IntelliSysChallenge" class="social-icon social-icon-sm social-icon-transparent social-instagram pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Instagram">
						<i class="icon-instagram"></i>
						<i class="icon-instagram"></i>
					</a>
				</div>
		</div>
	</div>

	<div class="row copyright">
		<div class="container">
			<ul class="list-inline inline-links mobile-block pull-right nomargin">
				<li><a href="/">Inicio</a></li>
				<li><a href="{% url 'training' %}">Entrenamiento</a></li>
				<li><a href="{% url 'terminos' %}">T&eacute;rminos y Condiciones</a></li>
				<li><a href="{% url 'inscription' %}">Inscripción</a></li>
				<li><a href="{% url 'cronogram' %}">Cronograma</a></li>
				<li><a href="{% url 'faq' %}">FAQs</a></li>
				<li><a href="{% url 'contact' %}">Cont&aacute;ctanos</a></li>
			</ul>
			Copyright ©  Intellisys Challenge 2016
		</div>
	</div>
</footer>
