{% extends "emptyLayout.html" %}
{% load i18n %}
{% load staticfiles %}
{% block mainContent %}
    <div id="wrapper">
        {% include "topMenu.html" %}
        <div class="container password-reset-page">
            <section>

                <div class="row">
                    <form method="post" class="sky-form boxed col-sm-6 col-sm-offset-3">
                        {% csrf_token %}
                        <header class="size-18 margin-bottom-20 text-center">
                            Tu contrase&ntilde;a ha sido modificada exitosamente
                        </header>
                        <fieldset class="nomargin">
                    <span class="input margin-bottom-10 col-sm-3 col-sm-offset-3">
                        <a class="btn btn-primary noradius" href="{% url 'login_url' %}">Volver al Login</a>
                    </span>
                        </fieldset>
                    </form>

                </div>
            </section>

        </div>
        <div>
            {% include "footer.html" %}
        </div>
    </div>

{% endblock %}
