{% extends "emptyLayout.html" %}
{% load i18n %}
{% load staticfiles %}
{% block mainContent %}
<div id="wrapper">
    {% include "topMenu.html" %}
    <div class="container">
        <section>
            <div class="row">
                    <!-- login form -->
                    <form method="post" class="sky-form boxed col-sm-6 col-sm-offset-3">
                        {% csrf_token %}
                        <header class="size-18 margin-bottom-20">
                            Olvid&eacute; mi contrase&ntilde;a
                        </header>

                        <fieldset class="nomargin">
                             <span class="input margin-bottom-10">
                                <span>Hemos enviado un correo con las instrucciones para reestablecer tu contrase&ntilde;a. Verifica tu bandeja de entrada y sigue las instrucciones.
        Si no has recibido el mensaje puede que el correo introducido no corresponda con tu cuenta.</span>
                            </span>
                        </fieldset>
                    </form>
            </div>
        </section>
    </div>
    {% include "footer.html" %}
</div>
{% endblock %}
