{% extends "emptyLayout.html" %}
{% load i18n %}
{% load staticfiles %}

{% block mainContent %}
    <div id="wrapper">
        {% include "topMenu.html" %}
        <div class="container password-reset-page">
            <section>
                <div class="row">
                    {% if not validlink %}
                        <h4 class="error">Este link ha vencido o es inv&aacute;lido.</h4>
                        <small class="clearfix note">Si ha perdido su contrase&ntilde;a haga click en el link siguiente <strong><a href="{% url 'password_reset' %}">&iquest;Olvidaste tu contrase&ntilde;a?</a></strong></small>
                    {% else %}
                        <form method="post" class="sky-form boxed col-sm-6 col-sm-offset-3">
                            {% csrf_token %}
                            <header class="size-18 margin-bottom-20">
                                Restablecer mi contrase&ntilde;a
                            </header>

                            <fieldset class="nomargin">
                                {% if form.errors %}
                                    <!-- ALERT -->
                                    <div class="alert alert-mini alert-danger margin-bottom-30">
                                        {{ form.non_field_errors }}
                                    </div>
                                    <!-- /ALERT -->
                                {% endif %}
                                <div>Nueva contrase&ntilde;a
                                    <label class="input margin-bottom-10">
                                        <i class="ico-append fa fa-envelope"></i>
                                        <input id="id_new_password1" name="new_password1" type="password">
                                    </label>
                                </div>

                                <div>Confirmar contrase&ntilde;a
                                    <label class="input margin-bottom-10">
                                        <i class="ico-append fa fa-envelope"></i>
                                        <input id="id_new_password2" name="new_password2" type="password">
                                    </label>
                                </div>
                            </fieldset>

                            <footer>
                                <button type="submit" class="btn btn-primary noradius pull-right"><i
                                        class="fa fa-check"></i>Cambiar
                                    contrase&ntilde;a
                                </button>
                                <input value="{{ next }}" type="hidden" name="next">
                            </footer>
                        </form>
                    {% endif %}
                </div>
            </section>
        </div>

        <div>
            {% include "footer.html" %}
        </div>
    </div>
{% endblock %}
